h1 {
  color: red;
  text-transform: uppercase;
  font-family: sans-serif;
}

h2 {
  font-family: sans-serif;
}

p {
  line-height: 2px;
  font-family: sans-serif;
}

.work h2 {
  color: red;
  margin-top: 50px;
  margin-bottom: 5px;
}

.work h3 {
  line-height: 2px;
  margin-top: 30px;
  margin-bottom: 10px;
  font-size: 20px;
}

.work h4 {
  color: gray;
  margin-top: 10px;
  margin-bottom: 5px;
  font-weight: lighter;
  font-family: sans-serif;
}

.work p {
  margin-top: 5px;
  line-height: 25px;
  font-size: 18px;
  font-family: serif;
}

.education h2 {
  color: red;
  margin-top: 50px;
  margin-bottom: 5px;
}

.education h3 {
  line-height: 2px;
  margin-top: 30px;
  margin-bottom: 10px;
  font-size: 20px;
}

.job {
  font-weight: lighter;
  font-style: italic;
}

.school {
  font-style: italic;
}
